[user]
	name = Zate
	email = zate75@gmail.com

[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	default = simple
	autoSetupRemote = true

[color]
	ui = auto

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = log --graph --oneline --all
	amend = commit --amend --no-edit
